.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
}

.header {
    text-align: center;
}

.header,
.footer {
    flex: 0 0 50px;
}

.content-body {
    flex-grow: 1;
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

nav a {
    padding-bottom: 0.5rem;
}

.content-body main {
    flex-grow: 1;
    overflow: auto;
}

.content-body nav,
.content-body aside {
    flex: 0 0 100px;
    overflow: auto;
}

aside img {
    width: 75%;
}

.footer {
    text-align: center;
}

@media (width < 1024px) {

    .header,
    .footer {
        flex: 1;
    }

    .content-body {
        flex-grow: 0;
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: row;
        max-height: 1rem;
        text-align: center;
        justify-content: center;
        padding-top: 0;
    }

    .content-body main {
        flex-grow: 1;
        overflow: hidden;
    }

    .content-body nav,
    .content-body aside {
        flex: 0 0 100px;
        overflow: hidden;
    }

    aside {
        text-align: center;
        justify-content: center;
    }

    aside img {
        width: 15%;
        text-align: center;
    }

    nav a {
        padding-right: 0.5rem;
        text-align: center;
    }
}